<!doctype html>
<title>Twitter-Profiles</title>
<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootswach-theme.css') }}">
<head>
<body>

<script>
function process()
{
var url=location.href + 'profile/' + document.getElementById("username").value;
location.href=url;
return false;
}
</script>


<p> Enter a Twitter username into the field below and then click "Submit". </p>
<form onSubmit="return process()">
Twitter username: <input type="text" name="UserName" value="username" id="username"><br>
<input type="submit" value="Submit">
</form>

</body>
</html>

