<!doctype html>
<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootswach-theme.css') }}">
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='c3-0.4.15/c3.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<title>User-Identity</title>
<body>This user is: 
  <h2>{{user}}</h2>
  <form
  <ul>
  	{% for entry in entries %}
		<li> {{ entry.left }} :
      <ul>
        {% for entry in entry.right%}
        <li> {{ entry }} </li>
        {% endfor %}
      </ul>
    </li>
	{% endfor %}
  </ul>
  </form>
<style>

.node circle {
  fill: #999;
}

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

</style>
<svg width="960" height="2000"></svg>
<script src="{{url_for('static', filename='clustertree.js')}}"></script>

<div id="chart"></div>
<script src="{{url_for('static', filename='donutinterests.js')}}"></script>

</body>
</html>
