<!doctype html>
<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootswatch-theme2.min.css') }}">
  <scrpit src="{{ url_for('static', filename='bootstrap-3.3.7-dist/js/bootstrap.min.js') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>
  <script src="https://naver.github.io/billboard.js/release/latest/dist/billboard.min.js"></script>
  <link rel="stylesheet" type=text/css href="https://naver.github.io/billboard.js/release/latest/dist/billboard.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul>
    </div>
  </div>
</nav>
<title>User-Identity</title>
<body> 
  <h2> This user is: {{user}}</h2>
  <form
  <ul>
  	{% for entry in entries %}
		<li> {{ entry.left }} :
      <ul>
        {% for entry in entry.right%}
        <li> {{ entry }} </li>
        {% endfor %}
      </ul>
    </li>
	{% endfor %}
  </ul>
  </form>
<style>

.node circle {
  fill: #999;
}

.node text {
  font: 15px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

</style>
<svg width="960" height="2000"></svg>
<script src="{{url_for('static', filename='clustertree.js')}}"></script>

<div id="chart"></div>
<script src="{{url_for('static', filename='donutinterests.js')}}"></script>

</body>
</html>
